body {
  font-family: Arial, sans-serif;
}
form {
  display: flex;
  align-items: center;
}

#weather-details {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  width: 500px;
}

